    {% extends 'base.html.twig' %}

    {% block main %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <main>
            <div class="py-5 bg-light">
                <div class="container">
                    
                <form method="POST" action="{{ path('edit_view', {id: article.id}) }}">
                    {{ form_start(form) }}
                    {{ form_widget(form.title) }}
                    {{ form_widget(form.image) }}
                    {{ form_widget(form.text) }}
                    {{ form_end(form) }}
                    {{ form_rest(form) }}
                    {# <button type="submit">Submit</button> #}
                </form>


                    <div class="py-5 text-center">
                        <h1 class="fw-bold">{{ article.title }}</h1>
                    </div>
                    
                    <img class="img-fluid" src="{{ article.image }}" alt="">

                    <div class="lead mb-4 py-5">{{ article.text | raw }}</div>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{{ path('home') }}" type="button" class="btn btn-secondary btn-lg px-4 gap-3">Back</a>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
